<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Moison</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets/js/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/js/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <div class="wrapper">

        <header class="br-b">
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <address class="contact-num">
                                <span><i class="fa fa-phone"></i> +1 212 505 1015</span>
                            </address>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="log-details">
                                <span class="login-form"><i class="la la-user"></i> <b>Login</b>/<b>Register</b></span>
                            </div><!--log-details end-->
                        </div>
                    </div>
                </div>
            </div><!--top-bar end-->
            <div class="bottom-header">
                <div class="container">
                    <div class="navigation text-right">
                        <nav>
                            <ul>
                                <li><a href="01_Home.html" title="">Home</a>
                                    <ul>
                                        <li class="active"><a href="29_Home_Alternative.html" title="">Home Alternative</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" title="">Properties</a>
                                    <ul>
                                        <li><a href="04_Properties_Grid_Map_Standart_Alternative.html" title="">Properties Grid Standart</a></li>
                                        <li><a href="03_Properties_Grid_Map_Full_Width.html" title="">Properties Grid Full Width</a></li>
                                        <li><a href="05_Properties_Grid_Map_Full_Width_Alternative.html" title="">Properties Grid Alternative</a></li>
                                        <li><a href="06_Properties_Half_Grid_Map_View.html" title="">Properties Grid Half Map</a></li>
                                        <li><a href="07_Properties_List_Map_Standart.html" title="">Properties List Standart</a></li>
                                        <li><a href="08_Properties_Half_List_Map_View.html" title="">Properties List Half Map</a></li>
                                        <li><a href="11_Single_Properties_Standart.html" title="">Single Properties</a></li>
                                    </ul>
                                </li>
                                <li><a href="agents.html" title="">Agents</a></li>
                            </ul>
                        </nav>
                    </div><!--navigation end-->
                    <div class="logo text-center">
                        <a href="01_Home.html" title="">
                            <img src="assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="navigation float-right text-left">
                        <nav>
                            <ul>
                                <li><a href="#" title="">Pages</a>
                                    <div class="mega-menu">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <ul>
                                                    <li><h3>Column Menu 1</h3></li>
                                                    <li><a href="04_Properties_Grid_Map_Standart_Alternative.html" title="">Properties Grid Standart</a></li>
                                                    <li><a href="03_Properties_Grid_Map_Full_Width.html" title="">Properties Grid Map Full Width</a></li>
                                                    <li><a href="05_Properties_Grid_Map_Full_Width_Alternative.html" title="">Properties Grid Alternative</a></li>
                                                    <li><a href="06_Properties_Half_Grid_Map_View.html" title="">Properties Grid Half Map</a></li>
                                                    <li><a href="07_Properties_List_Map_Standart.html" title="">Properties List Standart</a></li>
                                                    <li><a href="08_Properties_Half_List_Map_View.html" title="">Properties List Half Map</a></li>
                                                </ul>       
                                            </div>
                                            <div class="col-lg-4">
                                                <ul>
                                                    <li><h3>Column Menu 2</h3></li>
                                                    <li><a href="09_Properties_Grid_Map_Hover.html" title="">Properties Grid Map Hover</a></li>
                                                    <li><a href="10_Properties_Half_Map_Grid_View_Full_Screen.html" title="">Properties Half Full Screen</a></li>
                                                    <li><a href="28_Properties_Half_List_Geo_Version_With_Geo_Map.html" title="">Properties  Geo Version </a></li>
                                                    <li><a href="11_Single_Properties_Standart.html" title="">Single Properties Standart</a></li>
                                                    <li><a href="12_Single_Properties_Image_Full_Width.html" title="">Single Properties Full Width</a></li>
                                                    <li><a href="13_Single_Properties_Gallery_Images.html" title="">Single Properties Gallery</a></li>
                                                </ul>     
                                            </div>
                                            <div class="col-lg-4">
                                                <ul>
                                                    <li><h3>Column Menu 3</h3></li>
                                                    <li class="active"><a href="18_Blog_Gallery.html" title="">Blog Standart</a></li>
                                                    <li><a href="15_Blog_Full_Width_Alternative.html" title="">Blog Full Width Alternative</a></li>
                                                    <li><a href="14_Blog_Grid.html" title="">Blog Grid 3 Column</a></li>
                                                    <li><a href="18_Blog_Gallery.html" title="">Blog Open Gallery</a></li>
                                                    <li><a href="20_Contact.html" title="">Contact</a></li>
                                                </ul>     
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="20_Contact.html" title="">Contact</a></li>
                                <li><a href="#" title="">Buy Template</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu-btn">
                        <a href="#" title="">
                            <span class="bar1"></span>
                            <span class="bar2"></span>
                            <span class="bar3"></span>
                        </a>
                    </div><!--menu-btn end-->
                </div>
            </div><!--bottom-header end-->
        </header><!--header end-->

        <div class="responsive-mobile-menu">
            <ul>
                <li><a href="01_Home.html" title="">Home</a>
                    <ul>
                        <li class="active"><a href="29_Home_Alternative.html" title="">Home Alternative</a></li>
                    </ul>
                </li>
                <li><a href="#" title="">Properties</a>
                    <ul>
                        <li><a href="04_Properties_Grid_Map_Standart_Alternative.html" title="">Properties Grid Standart</a></li>
                        <li><a href="03_Properties_Grid_Map_Full_Width.html" title="">Properties Grid Full Width</a></li>
                        <li><a href="05_Properties_Grid_Map_Full_Width_Alternative.html" title="">Properties Grid Alternative</a></li>
                        <li><a href="06_Properties_Half_Grid_Map_View.html" title="">Properties Grid Half Map</a></li>
                        <li><a href="07_Properties_List_Map_Standart.html" title="">Properties List Standart</a></li>
                        <li><a href="08_Properties_Half_List_Map_View.html" title="">Properties List Half Map</a></li>
                        <li><a href="11_Single_Properties_Standart.html" title="">Single Properties</a></li>
                    </ul>
                </li>
                <li><a href="agents.html" title="">Agents</a></li>
                <li><a class="active" href="#" title="">Pages</a>
                    <ul>
                        <li><h3>Column Menu 1</h3></li>
                        <li><a href="04_Properties_Grid_Map_Standart_Alternative.html" title="">Properties Grid Standart</a></li>
                        <li><a href="03_Properties_Grid_Map_Full_Width.html" title="">Properties Grid Map Full Width</a></li>
                        <li><a href="05_Properties_Grid_Map_Full_Width_Alternative.html" title="">Properties Grid Alternative</a></li>
                        <li><a href="06_Properties_Half_Grid_Map_View.html" title="">Properties Grid Half Map</a></li>
                        <li><a href="07_Properties_List_Map_Standart.html" title="">Properties List Standart</a></li>
                        <li><a href="08_Properties_Half_List_Map_View.html" title="">Properties List Half Map</a></li>
                        <li><h3>Column Menu 2</h3></li>
                        <li><a href="09_Properties_Grid_Map_Hover.html" title="">Properties Grid Map Hover</a></li>
                        <li><a href="10_Properties_Half_Map_Grid_View_Full_Screen.html" title="">Properties Half Full Screen</a></li>
                        <li><a href="28_Properties_Half_List_Geo_Version_With_Geo_Map.html" title="">Properties  Geo Version </a></li>
                        <li><a href="11_Single_Properties_Standart.html" title="">Single Properties Standart</a></li>
                        <li><a href="12_Single_Properties_Image_Full_Width.html" title="">Single Properties Full Width</a></li>
                        <li><a href="13_Single_Properties_Gallery_Images.html" title="">Single Properties Gallery</a></li>
                        <li><h3>Column Menu 3</h3></li>
                        <li class="active"><a href="18_Blog_Gallery.html" title="">Blog Standart</a></li>
                        <li><a href="15_Blog_Full_Width_Alternative.html" title="">Blog Full Width Alternative</a></li>
                        <li><a href="14_Blog_Grid.html" title="">Blog Grid 3 Column</a></li>
                        <li><a href="18_Blog_Gallery.html" title="">Blog Open Gallery</a></li>
                    </ul>
                </li>
                <li><a href="20_Contact.html" title="">Contact</a></li>
                <li><a href="#" title="">Buy Template</a></li>
            </ul>
        </div><!--responsive-mobile-menu end-->

        <section class="page-content white-bg sec-padding">
            <div class="container">
                <div class="page-content-details">
                    <div class="post-full-width">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="posts-section">
                                    <div class="post single-post-details">
                                        <div class="post-img">
                                            <img src="assets/images/resources/blog-lg-igm.jpg" alt="">
                                        </div><!--post-img end-->
                                        <div class="post-info">
                                            <h3>Exlusive Rentals</h3>
                                            <span>December 15, 2019</span>
                                            <p>Duis pellentesque, quam quis tincidunt imperdiet, justo urna aliquet justo, nec eleifend augue tortor el neque. Integer consec tetur lectus vitae turpis interdum cursus sit amet et eros. Aliquam iaculis purus dui, et pulvinar leo pellenesque vitae. Aenean fermentum turpis ut diam posuere, sit amet varius orci convallis. </p>
                                            <p> Mauris quis blandit libero. Nullam velit sapien, bibendum in neque eu, pulvinar on porta turpis. Ut consectetur pretium ultrices. In hac habitasse platea dictumst. Maecenas scelerisque a pellentesque nisi ac luctus. Etiam lorem leofacilisis in sollicitudin ac aliquam quis ligula. Etiam massa riondimentum commodo lorem. Etiam feugiat ipsum magna, quis dapibus nulla facilisis nec. Vivamus ultrices viverra sapien.</p>
                                            <p> venenatis posuere diam vehicula eu. Nunc ullamcorper pulvinar tempor. Nulla eu fringilla auis non tellus nona erat dictum faucibus at nec eros. Fusce varius, mi eget rhoncus mollis, orper magna libero nec ex.</p>
                                        </div><!--post-info end-->
                                    </div><!--post end-->
                                    <div class="post-oth">
                                        <div class="post-comment-count">
                                            <a href="#" title=""><i class="fa fa-comment"></i> 1</a>
                                        </div><!--post-comment-count end-->
                                        <div class="write-comment">
                                            <a href="#" title="">Write a Comment</a>
                                        </div><!--write-comment end-->
                                        <ul class="social-links">
                                            <li><a href="#" title=""><i class="fa fa-share"></i></a></li>
                                            <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" title=""><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                                    </div><!--post-oth end-->
                                </div><!--posts-section end-->
                                <div class="author-info">
                                    <img src="assets/images/resources/user2.png" alt="">
                                    <h3><a href="#" title="">Naomi Jorge</a></h3>
                                    <p>Curabitur tincidunt diam eget turpis dictum auctor. Curabitur lobortis, dolor eu imperdiet diam velit lacinia dui, ut pellentesque felis mi vel diamur quam at ullamcorper. </p>
                                    <ul class="social-links">
                                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title=""><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul><!--social-links end-->
                                </div><!--author-info end-->
                                <div class="post-control">
                                    <ul>
                                        <li class="active">
                                            <a href="#" title=""><i class="fa fa-angle-double-left"></i> Maldives Paradise</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Maldives Paradise <i class="fa fa-angle-double-right"></i> </a>
                                        </li>
                                    </ul>
                                </div><!--post-control end-->
                                <div class="pro-info review-pro">
                                    <h3 class="mgb-20">Comments</h3>
                                    <div class="comments-list">
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <div class="cm-img">
                                                        <img src="assets/images/resources/cm-img1.png" alt="">
                                                    </div><!--cm-img end-->
                                                    <div class="comment-text">
                                                        <h3>Angelika Gladkaya</h3>
                                                        <span>December 15, 2019</span>
                                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisielit quat ipsum, nec sagittis sem nibh id elit. Duis sed odio sitet nibh vulputate cursus a sit amet mauris. </p>
                                                        <ul class="rating-star">
                                                            <li><i class="la la-star"></i></li>
                                                            <li><i class="la la-star"></i></li>
                                                            <li><i class="la la-star"></i></li>
                                                            <li><i class="la la-star"></i></li>
                                                            <li><i class="la la-star"></i></li>
                                                        </ul><!--rating-star end-->
                                                    </div><!--comment-text end-->
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!--review-sec end-->
                                    <div class="post-comment">
                                        <h4>Write a Review</h4>
                                        <ul class="rating-star">
                                            <li><i class="la la-star"></i></li>
                                            <li><i class="la la-star"></i></li>
                                            <li><i class="la la-star"></i></li>
                                            <li><i class="la la-star"></i></li>
                                            <li><i class="la la-star"></i></li>
                                        </ul>
                                        <span>Rate Rating</span>
                                        <form class="js-ajax-form">
                                            <div class="form-group">
                                                <div class="missing-message">
                                                    Populate Missing Fields
                                                </div>
                                                <div class="success-message">
                                                    <i class="fa fa-check text-primary"></i> Thank you!. Your message is successfully sent...
                                                </div>
                                                <div class="error-message">Populate Missing Fields</div>
                                            </div><!--form-group end-->
                                            <div class="form-fields">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-field">
                                                            <input type="text" name="name" placeholder="Name" id="name">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-field">
                                                            <input type="email" name="email" placeholder="Email" id="email">
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-field">
                                                            <textarea name="comment" placeholder="Comment"></textarea>
                                                        </div><!--form-field end-->
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-submit">
                                                            <button type="submit" class="lnk-default submit">Send</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--form-fields end-->
                                        </form>
                                    </div><!--post-comment end-->
                                </div><!--review-pro end-->
                            </div>
                            <div class="col-lg-4 pl-35">
                                <div class="sidebar pt-style">
                                    <div class="widget widget-search">
                                        <form>
                                            <input type="text" name="search" placeholder="Type Keyword...">
                                            <button type="submit" class="lnk-default"><i class="la la-search"></i></button>
                                        </form>
                                    </div><!--widget-search end-->
                                    <div class="widget widget-popular-posts">
                                        <h3 class="widget-title">Popular Posts</h3>
                                        <div class="post">
                                                <a href="18_Blog_Gallery.html" title="" class="ext-link">

                                            <div class="post-img">
                                                    <img src="assets/images/resources/wd-post.jpg" alt="">
                                            </div><!--post-img end-->
                                                </a>

                                            <div class="post-info">
                                                <h3><a href="18_Blog_Gallery.html" title="">Exlusive Rentals</a></h3>
                                                <span>December 15, 2019</span>
                                            </div><!--post-info end-->
                                        </div><!--post end-->
                                    </div><!--widget-popular-posts end-->
                                    <div class="widget widget-tags">
                                        <h3 class="widget-title">Tags</h3>
                                        <ul>
                                            <li><a href="#" title="">Apartment</a></li>
                                            <li><a href="#" title="">Real Estate</a></li>
                                            <li><a href="#" title="">Luxury </a></li>
                                            <li><a href="#" title=""> Houzez</a></li>
                                            <li><a href="#" title="">Business</a></li>
                                            <li><a href="#" title="">House for families</a></li>
                                        </ul>
                                    </div><!--widget-tags end-->
                                    <div class="widget widget-newsletter">
                                        <h3 class="widget-title">Newsletter</h3>
                                        <form>
                                            <div class="form-field">
                                                <input type="text" name="search" placeholder="Your Email Adress">
                                            </div>
                                            <div class="form-submit">
                                                <button type="submit" class="lnk-default submit">Subscribe</button>
                                            </div>
                                        </form>
                                    </div><!--widget-newsletter end-->
                                    <div class="widget widget-adv">
                                        <img src="assets/images/resources/adv-img.jpg" alt="">
                                    </div><!--widget-adv end-->
                                    <div class="widget widget-contro">
                                        <ul>
                                            <li><a href="#" title=""><i class="fa fa-exchange"></i></a></li>
                                            <li><a href="#" title=""><i class="fa fa-print"></i></a></li>
                                            <li><a href="#" title=""><i class="fa fa-heart-o"></i></a></li>
                                            <li class="report"><a href="#" title="">Report</a></li>
                                        </ul>
                                    </div><!--widget-contro end-->
                                </div><!--sidebar end-->
                            </div>
                        </div>
                    </div><!--post-full-width end-->
                </div><!--page-content-details end-->
            </div>
        </section><!--page-content end-->

        <section class="subscribe-sec">
            <div class="container">
                <div class="subscribe-sec-details">
                    <h3>Find your perfect home</h3>
                    <a href="#" title="" class="lnk-default">Search NOW</a>
                </div><!--subscribe-sec-details end-->
            </div>
        </section><!--subscribe-sec end-->
        
        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-lg-3 col_1">
                            <div class="widget widget-about">
                                <h3 class="widget-title">Moison Real Estate</h3>
                                <p>© 2019</p>
                            </div><!--widget-about end-->
                        </div>
                        <div class="col-lg-3 col_2">
                            <div class="widget widget-contact">
                                <h3 class="widget-title">Information</h3>
                                <ul class="cont-links">
                                    <li>
                                        <i class="la la-phone"></i>
                                        +1 212-758-8877
                                    </li>
                                    <li>
                                        <i class="la la-map-marker"></i>
                                        1 E 57th St, New York
                                    </li>
                                    <li>
                                        <i class="la la-clock-o"></i>
                                        10AM - 9PM
                                    </li>
                                </ul>
                            </div><!--widget-contact end-->
                        </div>
                        <div class="col-lg-3 col_3">
                            <div class="widget widget-links">
                                <h3 class="widget-title">Features</h3>
                                <ul>
                                    <li><a href="http://www.bootstrapmb.com/" title="">Admin Panel</a></li>
                                    <li><a href="#" title="">Submit Property</a></li>
                                    <li><a href="#" title="">Support Docs</a></li>
                                    <li><a href="#" title="">Pricing</a></li>
                                </ul>
                            </div><!--widget-links end-->
                        </div>
                        <div class="col-lg-3 col_4">
                            <ul class="social-links">
                                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--footer-content end-->
            </div>
        </footer><!--FOOTER END-->

        <div class="popup">
            <div class="popup-content">
                <div class="popup-head">
                    <ul>
                        <li class="active" data-tab="login"><a href="#" title="">Log in</a></li>
                        <li data-tab="register"><a href="#" title="">Register</a></li>
                    </ul>
                </div><!--popup-head end-->
                <div class="popup-form current" id="login">
                    <form>
                        <div class="form-field">
                            <input type="text" name="name" placeholder="Name">
                        </div><!--form-field end-->
                        <div class="form-field">
                            <input type="password" name="password" placeholder="Password">
                        </div><!--form-field end-->
                        <div class="form-submit">
                            <button type="submit" class="lnk-default">Log in</button>
                            <a href="#" title="" class="register-op" data-tab="register">Lost your password?</a>
                        </div><!--form-submit end-->
                    </form>
                    <div class="other-log-options">
                        <a href="#" title="">Log In with Facebook</a>
                    </div><!--other-log-options end-->
                </div><!--popup-form end-->
                <div class="popup-form" id="register">
                    <form>
                        <div class="form-field">
                            <input type="text" name="name" placeholder="Name">
                        </div><!--form-field end-->
                        <div class="form-field">
                            <input type="email" name="email" placeholder="Email">
                        </div><!--form-field end-->
                        <div class="form-field">
                            <input type="password" name="password" placeholder="Password">
                        </div><!--form-field end-->
                        <div class="form-submit">
                            <button type="submit" class="lnk-default">Register Now</button>
                        </div><!--form-submit end-->
                    </form>
                </div><!--popup-form end-->
            </div><!--popup-content end-->
        </div><!--popup end-->

    </div><!--wrapper end-->


    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/validator.js"></script>
    <script src="assets/js/custom-select.js"></script>
    <script src="assets/js/lib/slick/slick.js"></script>
    <!-- Maps -->
    <script src="http://ditu.google.cn/maps/api/js"></script>
    <script src="assets/js/map-cluster/infobox.min.js"></script>
    <script src="assets/js/map-cluster/markerclusterer.js"></script>
    <script src="assets/js/map-cluster/map2.js"></script>
    <!-- Custom Js Script File -->
    <script src="assets/js/scripts.js"></script>


</body>

</html>
